@model IEnumerable<PizzaNicola_AspNetCore.Models.Entidades.Extra>

@{
    ViewData["Title"] = "Index";
}
<style>
    .search-container {
        display: flex;
        justify-content: space-between;
    }
</style>

<h1>Extras</h1>
<br />

<div class="search-container">
    <div class="table-container">
        <p>
            <a asp-action="InsertExtra" class="btn btn-primary">Agregar Extra</a>
        </p>
    </div>
    <div class="search-form-container">
        <form asp-action="BuscarExtras" method="get" class="search-form">
            <div class="form-group">
                <label for="descripcion">Buscar:</label>
                <input type="text" class="form-control" name="descripcion" id="descripcion" placeholder="Extra" />
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>

        </form> <br />
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.id)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
                <td>
                    <a class="btn btn-warning" asp-action="UpdateExtra" asp-route-id="@item.id">Actualizar</a>
                    <a href="#" class="btn btn-danger" onclick="confirmarEliminacion('@item.id')">Eliminar</a>
                </td>
        </tr>
}
    </tbody>
</table>
<script>
    function confirmarEliminacion(id) {
        if (confirm("¿Seguro que deseas eliminar?")) {
            window.location.href = '/Extra/DeleteExtra?id=' + id;
        }
    }
</script>